# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Metadata
.DS_Store
Thumbs.db

# Databases
data/*.db
data/*.sqlite
*.db-journal
*.db-wal
*.db-shm

# Scratch
scratch/
